
/* 
    Created on : 28-mar-2017, 11.07.12
    Author     : Marco Brundu
*/

body{
    background-color: #D0F7DE;
    font: 16px/20px "Trebuchet MS", Helvetic, sans-serif;
    text-decoration: none;
    color: #000000;
}

h1{
    margin-top: 0px;
    color: #000A3B;
    font: 35px/40px "Trebuchet MS", Helvetic, sans-serif;
    font-weight: bold;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #005F90;
    font: 20px/25px "Trebuchet MS", Helvetic, sans-serif;
    font-weight: bold; 
}

h3{
    margin-top: 0px;
    color:#00A388;
    font: 17px/20px "Trebuchet MS", Helvetic, sans-serif;
    font-weight: bold;
}

a:link{
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    color: #00A388;
}

a:visited{
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    color: #597F2F;
}

a:hover{
    font-weight: bold;
}

#dati input:focus{
    font-size: 15px;
    color:#040D30;
}


#dati textArea{
    font: 15px/20px "Trebuchet MS", Helvetic, sans-serif;
    color:#040D30;
}

#dati label{
    font-size: 15px;
    color:#040D30;
    font-weight: bold;
}
#barnav{
    width: 100%;
    height:50px;
    background-color: #1a416d;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    position: fixed;
    top:0;
}
header{
    border: 1px solid #111111;
    float: left;
    height:98.5%;
}
nav#barra ul, nav#barra li{
    list-style-type: none;
    display:inline-block;
}
nav#barra ul{
    margin: 0;
    padding:0;
}
nav#barra li{
    width: 140px;
    height: 35px;
    text-align: center;
    border: 1px solid #111111;
    float: left;
    background-color: #1a416d;
    padding-top: 14px;
}
#barra a:link{
    font-size:25px;
    font-style: normal;
    color: #ffffff;
}
#barra a:visited{
    font-size:25px;
    font-style: normal;
    color: #ffffff;
}
#barra a:hover{
    font-weight:normal;
    text-decoration: underline;
}

#divBody{
    margin-top:75px;
}

#log{
    padding-top:40px;
    text-align: center;
    width: 300px;
    height: 260px;
    border: 1px solid #111111;
    margin-left: auto;
    margin-right: auto;
}
#headl{
    border: none;
    text-align: center;
    padding-left: auto;
    padding-right: auto;
    height:98.5%;
}

#log form{
}
/*
nav#barra{
    background-color: #1a416d;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    border-top: 1px solid #111111;
    border-bottom: 1px solid #111111;
    height: 70px;
}

#barra ul,#barra li{
    margin:0px;
    padding: 0px;
    list-style-type: none;
    display:inline-block;
}
#barra li{
    margin:0px;
    height: 45px;
    width: 130px;
    padding-top: 25px;
    text-align: center;
    border: 1px solid #111111;
    border-top: 0px;
    border-right: 0px;
}   
#barra li:last-child{
    border-right: 1px solid #111111;
}

#barra a:link{
    font-size:25px;
    font-style: normal;
    color: #ffffff;
}
#barra a:visited{
    font-size:25px;
    font-style: normal;
    color: #ffffff;
}
#barra a:hover{
    font-weight:normal;
    text-decoration: underline;
}

#title{
    background-color: #ffffff;
    text-align: left;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
}

#bacheca{
    float: left;
    background-color: #ffffff;
    height:55px;
    width: 160px;
    text-align: center;
    display: block;
    padding-top:15px;
    border-bottom: 2px solid #ffffff;
}


#divBody{
    margin-top: 0px;
    border-left: 1px solid #111111;
    margin-left: 160px;
}*/
