
/* 
    Created on : 28-mar-2017, 11.07.12
    Author     : Marco Brundu
*/

body{
    background-color: #D0F7DE;
    font: 16px/20px "Trebuchet MS", Helvetic, sans-serif;
    text-decoration: none;
    color: #000000;
}

h1{
    margin-top: 0px;
    color: #ffffff;
    font: 35px/40px "Trebuchet MS", Helvetic, sans-serif;
    font-weight: bold;
}

h2{
    margin-top: 5px;
    margin-bottom: 5px;
    color: #005F90;
    font: 20px/25px "Trebuchet MS", Helvetic, sans-serif;
    font-weight: bold; 
}

h3{
    margin-top: 0px;
    color:#00A388;
    font: 17px/20px "Trebuchet MS", Helvetic, sans-serif;
    font-weight: bold;
}

a:link{
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    color: #00A388;
}

a:visited{
    font-size: 16px;
    font-style: italic;
    text-decoration: none;
    color: #597F2F;
}

a:hover{
    font-weight: bold;
}

#dati input:focus{
    font-size: 15px;
    color:#040D30;
}


#dati textArea{
    font: 15px/20px "Trebuchet MS", Helvetic, sans-serif;
    color:#040D30;
}

label {
    font-size: 15px;
    color:#040D30;
    font-weight: bold;
}
#barnav{
    width: 100%;
    height:50px;
    background-color: #1a416d;
    box-shadow: 0 0 10px rgba(0,0,0,.2);
    position: fixed;
    top:0;
}
header{
    border: 1px solid #111111;
    float: left;
    height:48px;
}
nav#barra ul, nav#barra li{
    list-style-type: none;
    display:inline-block;
}
nav#barra ul{
    margin: 0;
    padding:0;
}
nav#barra li{
    width: 140px;
    height: 34px;
    text-align: center;
    border: 1px solid #111111;
    float: left;
    background-color: #1a416d;
    padding-top: 14px;
}
#barra a:link{
    font-size:25px;
    font-style: normal;
    color: #ffffff;
}
#barra a:visited{
    font-size:25px;
    font-style: normal;
    color: #ffffff;
}
#barra a:hover{
    font-weight:normal;
    text-decoration: underline;
}
.attivo{
    background-color: red;
}
#lastchild{
    float:right;
    margin-top: 15px;
    margin-right: 2%;
    
}

#divBody{
    margin-top:50px;
}
#barlat{
    float:left;
    border: 1px solid #111111;
    padding-left: 10px;
    width: 149px;
    height:100%;
    background-color:#dccc7e;
}

.posts{
    display:block;
    margin-left: 170px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #111111;
    background-color: #dccc7e;
    border-radius: 5px;
}


.fprof{
    float:left;
    margin: 10px;
    width: 50px;
    height: 50px;
}
.imgp{
    display:block;
    margin: 0 auto;
    margin-bottom: 10px;
    width: 50%;
    height: 50%;
}
.posts h2{
    margin-bottom: 50px;
}

.posts p{
    margin-left: 10px;
}

.posts a:link{
    margin-left: 10px;
}



#log{
    padding-top:40px;
    text-align: left;
    width: 300px;
    height: 300px;
    border: 1px solid #111111;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    background-color:#00A388;
    font: 15px/20px "Trebuchet MS", Helvetic, sans-serif;
    color:#040D30;
    border-radius: 5px;
    
    
}

#divLabel{
    width:180px;
    height:auto;
}

#log form{
    padding-left:60px;
}

label:before{
    content: '\A';
    white-space: pre;
    
}

button{
    width: 100%;
    margin-top: 40px;
    background-color: #dccc7e;
    font-style: italic;
}

#log input{
    width: 98.5%;
}
#headl{
    border: none;
    position: absolute;
    top: 15%;
    left: 42.5%;
}
 
#fprofilo{
    float:left;
    width: 140px;
    margin:10px;
}

.prof{
    width: 500px;
    margin: 10px;
    background-color: #00A388;
    padding: 25px;
    overflow: hidden;
    border-radius: 5px;
    
}

.prof textArea{
    resize: none;
    float: right;
    clear: both;
    width: 59.9%;
    height: 20px;
}

.prof input {
    float: right;
    clear: both;
    width: 60%;
    height: 14px;
    margin-bottom:10px;
}

input:focus ,textarea:focus{
    background-color: #dccc7e;
}


div#nuovoPost textArea{
    resize: none;
    width: 100%;
}
div#nuovoPosts button{
    background-color: #e6ac00;
    width: 100%;
}

div#nuovoPost{
    display: inline-block;
    width: 300px;
    height:400px;
    background: #c6ffb3;
    margin-top:10px;
    padding-left: 20px;
    padding-right:20px;
    border: 1px solid #111111;
    margin-left: 25%;
    margin-bottom: 10px;
    
}

div#nuovoPost input, div#nuovPost label{
    display:inline-block;

}


#conferm{
    margin:25%;
}

button#searchYourUser{
    margin-top:5px;
    background-color:#c6ffb3;
}
input#searchField{
    size:auto;
}
input#searchField:focus{
    background-color:#c6ffb3;
}


@media only screen and (max-width: 480px){
    #barlat{
        display:none;
                
    }
    .posts{
        margin:10px;
    }
    
    header{
        display: none;
    }
    #lastchild{
        float:left;
        margin-left: 2%; 
        margin-top: 3%;
    }
   
    img#fprofilo{
        margin-left:33%;
    }
    .prof{
        width: 400px;
        height: 400px;
    }
    textarea#stato{
        width:57%;
    }
    .footer{
        display:none;
    }
    #headl{
        display:block;
        position:absolute;
        left:27%;
    }
    div#nuovoPost{
        margin-left:10px;
    }
}


@media only screen and (min-width: 480px) and (max-width:759px){
    #barlat{
        display:none;
                
    }
    .posts{
        margin:10px;
    }
   
    
    #fprofilo{
        margin-left:150px;
    }
    .prof{
        width: 400px;
        height: 400px;
    }
    textarea#stato{
        width:57%;
    }
    header{
        width: 100px;
    }
    
    header h1{
        font-size:22px;
        padding-top:3px;
    }
    #lastchild{
        margin-top:15px;
    }
   
    textarea#stato{
        width:55%;
    }
    .footer{
        display:none;
    }
    
    #headl{
        display:block;
        position:absolute;
        left:35%; 
    }
    
    #headl h1{
        font-size:35px;
    }
}

@media only screen and (min-width: 760px) and (max-width:1024px){
    img#fprofilo{
        margin: 10px;
    }
    .prof{
        width: 370px;
        height: 370px;
    }
    textarea#stato{
        width:52%;
        font-size:10px;
    }
    .footer{
        display:none;
    }
    
}
@media only screen and (min-width: 1024px){
    .footer {
        position: relative;
        right: 0;
        bottom: 0;
        left: 0;
        padding: 1rem;
        background-color: #1a416d;
        text-align: center;
     }
     .footer a:link{
        color: #ffffff;
        font: 20px/25px "Trebuchet MS", Helvetic, sans-serif;
        font-weight: bold;
     }
     .footer a:visited{
        color: #ffffff;
        font: 20px/25px "Trebuchet MS", Helvetic, sans-serif;
        font-weight: bold;
     }
     .footer a:hover{
        color: #ffffff;
        font: 20px/25px "Trebuchet MS", Helvetic, sans-serif;
        font-weight: bold;
     }
}

#log{
    background-image:url(img/dec1.gif); /*immagine decorativa login*/
    background-repeat:no-repeat;
    background-position:top center;
}

.pers{
    background-image:url(img/dec2.ico); /*immagine decorativa persone*/
    background-repeat:no-repeat;
    background-position:right center;
}

.grup{
    background-image:url(img/dec3.png); /*immagine decorativa gruppi*/
    background-repeat:no-repeat;
    background-position:right center;
}

ul,ol{ /*liste puntate e numerate*/
    list-style-image:url(img/navp.png);
}